*{
    margin: 0;
    box-sizing: border-box;
}

p{
    position: relative;
    display: inline;
    margin: 20px;
    left: 30%;
    top: 50px;
    color: rgb(158, 150, 150);
    font-size: 23px;
}
.image{
    position: relative;
    width: 600px;
    top: 0px;
    left: 700px;
    height: 50vh;
}

.tengah{
    position: relative;
    top: 200px;
    font-family: calibri;
    font-size: 30px;
    left: 40px;
    color: rgb(51, 89, 139);
}
.bawah{
    position: relative;
    top: 300px;
    font-family: calibri;
    font-size: 11px;
    left: 40px;
}
.laporan{
    position: relative;
    top: 330px;
    left: 38px;
    background-color: rgb(66, 133, 233);
    width: 70px;
    text-align: center;
    color: white;
    height: 30px;
    border-radius: 9px;
    padding-top: 6px;
}
.button{
    position: relative;
    bottom: 600px;
    left: 1100px;
    background-color: rgb(66, 133, 233);
    width: 80px;
    text-align: center;
    color: white;
    height: 38px;
    border-radius: 9px;
    padding-top: 2px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    transition: 0.9s;
}
.button:hover{
    background-color: rgb(255, 0, 0);
}